*{
  margin: 0;
}
body{
  background-color: #f5f6fa;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app_header h1{
  color: rgb(243, 22, 22);
  text-shadow: 2px 2px 2px rgb(36, 51, 255);
}
.app_dropdown{
  background-color: white;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.app_left{
  flex: 0.9;
}
@media (max-width: 617px){
  .app{
    flex-direction: column;
  }
}
@media (max-width: 501px){
  .app_stats{
    flex-direction: column;
    text-align: center;
  }
}
.app_right h4{
  margin-top: 20px;
  margin-bottom: 20px;
}